<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Arqueros</title>
</head>
<body>
    <!-- <%= JSON.stringify(arqueros) %> -->

    <table style="border: solid 2px #000;">
        <h1>Arqueros</h1>
        <% arqueros.forEach(function(arquero){ %>
            <tr>
                <th><%= arquero.nombre %></th>
                <th><%= arquero.apellido %></th>
                <th><%= arquero.edad %></th>
                <th><%= arquero.equipo %></th>
                <th><%= arquero.energia %></th>
                
                
            </tr>
        <% }); %>
      
    </table>

    <button>
        <a href="/">Volver Home</a>
    </button>
    
</body>
</html>